body {
  
  font-family: Arial, sans-serif;
  background-color:azure;
  padding: 0px;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: auto;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}

.question {
  margin-bottom: 20px;
}
